body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d39bbe;
  }
  
  header {
    background-image: url('');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    background-color: #b6087c;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: 700;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .header-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
    
  }
  
  header h1 {
    color: #f1038e;
    font-weight: 1000;
  }
  
  main {
    padding: 20px;
  }
  
  .product {
    text-align: center;
    margin-bottom: 50px;
  }
  .about-us {
    text-align: center;
    margin-bottom: 50px;
  }

  
  .product-card {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 20px;
    width: 300px; 
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .product-card h3 {
    color: #333;
  }
  
  .product-card p {
    color: #777;
  }
  
  button {
    background-color: #e60ab6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #cc1ca0;
  }
  
  .contact form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contact form button {
    background-color: #ff6666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact form button:hover {
    background-color: #cc1ca0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  p{
    font-weight: 600;
    line-height: 1.5;
    color: #e6dde0;
    margin-bottom: 20px;
  }

  .header-content p{
    font-weight: 600;
    line-height: 1.5;
    color: #1b1618;
    margin-bottom: 20px;
  box-shadow: #020202;

  }
  .vision, .mission{
    text-align: center;
    margin-bottom: 50px
  }
  .goals h2{
    text-align: center;
    margin-bottom: 50px
  }
  .about{
    text-align: center;
    margin-bottom: 50px;
    color:#b6087c;
    font-weight: 400px;
  }
  .contact h2{
    text-align: center;
    margin-bottom: 50px;
    color:#b6087c;
    font-weight: 400px;
  }
  
  .goals img{
    max-width: 10%;
    border-radius: 5px;
    
  }